* {
  border: 0px;
  padding: 0px;
  background-color: rgb(49, 157, 203);
  font-family: Arial, Helvetica, sans-serif;
}

.esquerda {
  color: white;
  display: block;
  position: absolute;
  top: 10rem;
  left: 5rem;
  width: 15rem;
  height: 5rem;
  text-align: center;
  display: flex;
}

form {
  margin-top: 210px;
}

label {
  background-color: rgb(49, 157, 203);
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
}

input {
  background-color: white;
  color: black;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  height: 32px;
  width: 350px;
  display: block;
  border: 1px;
  padding: 7px;
  border: 0px;
  cursor: pointer;
}

form input[type="submit"] {
  height: 32px;
  width: 364px;
  margin-top: 7px;
  border: 0;
}

div a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: 52%;
  left: 67%;
  height: 15;
  width: 50px;
  border-radius: 5px;
  background-color: rgb(49, 157, 203);
}
