* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(104, 5, 196);
}

#inicio {
  top: 50px;
  left: 35%;
  position: relative;
  background-color: #6a5acd;
  height: 90vh;
  width: 30vw;
  border-radius: 50px;
  box-shadow: 0, 0, 0, 0.5;
  box-shadow: blueviolet;
  text-align: center;
  padding-top: 25px;
}

#inicio > p {
  padding: 25px;
}

#inicio > button {
  height: 4vh;
  width: 12vh;
  background-color: #625a9cea;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
}

#inicio > button:hover {
  height: 6vh;
  width: 16vh;
}

#criarNota {
  font-family: "Franklin Gothic Medium";
  height: 35px;
  width: 125px;
  background-color: #6a5acd;
  border: 0;
  border-radius: 5px;
  position: relative;
  top: 80px;
  left: 32%;
}

button {
  font-family: "Franklin Gothic Medium";
  height: 30px;
  width: 100px;
  background-color: red;
  border: 0;
  border-radius: 5px;
}

h2 {
  color: black;
  top: 50px;
  left: 35%;
  position: relative;
  top: 50px;
  left: 35%;
}

input {
  background-color: #ada1fc;
  border: 0;
  border-radius: 2px;
  align-items: center;
  position: relative;
  top: 50px;
  left: 44%;
  height: 25px;
  padding: 5px;
}

.alinhamento {
  text-align: center;
  position: relative;
  top: 50px;
  left: 0.6vw;
  padding: 5px;
}

i {
  display: none;
}
