* {
  border: 0px;
  padding: 0px;
  background-color: rgb(104, 5, 196);
  font-family: Arial, Helvetica, sans-serif;
}

* > button > a {
  color: white;
  background-color: white;
}

p > input {
  text-align: center;
  width: 20px;
  height: 20px;
}

input {
  width: 250px;
  height: 50px;
  border: 1px;
  background-color: rgb(255, 255, 255);
  color: black;
}

button {
  border-radius: 25px;
  height: 35px;
  width: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

button > a {
  text-decoration: none;
  color: black;
  list-style: none;
}

form > input {
  width: 350px;
  border-radius: 8px;
  text-align: center;
}

form > a {
  color: white;
  text-decoration: none;
  text-align: end;
}

form {
  padding-top: 20vh;
  display: block;
  position: absolute;
  display: grid;
  top: 25px;
  right: 400px;
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.esquerda {
  color: white;
  display: block;
  position: absolute;
  top: 100px;
  left: 35px;
  width: 35vw;
  height: 70%;
  text-align: center;
}
